<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxcl.webapp.integration.dao.AgentFeeChangeSignDAO">
	
	<select id="getAll" resultType="String">
		SELECT agent_id FROM t_agent_fee_change_sign
	</select>
	
</mapper>