<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxcl.webapp.integration.dao.FileDAO" >
  <resultMap id="BaseResultMap" type="com.zxcl.webapp.dto.FileDTO" >
    <id column="INQUIRY_ID" property="inquiryId" jdbcType="VARCHAR" />
     <id column="FILE_ID" property="fileId" jdbcType="VARCHAR" />
     
   	<result column="FILE_PATH"  property="filePath" jdbcType="VARCHAR" />
   	<result column="FILE_TYPE"  property="fileType" jdbcType="VARCHAR" />
   	<result column="FILE_NAME"  property="fileName" jdbcType="VARCHAR" />
  </resultMap>
  
  
 
	<!-- 插入附件表 -->
	<insert id="saveFile">
		INSERT INTO t_f_file(FILE_ID,FILE_PATH,FILE_TYPE,FILE_NAME) VALUES(#{fileId},#{filePath},#{fileType},#{fileName})
	</insert>
	
  	<!-- 插入附件子表 -->
	<insert id="saveFileSub">
		INSERT INTO t_f_inquiry_file(INQUIRY_ID,FILE_ID) VALUES(#{inquiryId},#{fileId})
	</insert>
</mapper>