<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxcl.webapp.integration.dao.InsuranceDAO">
	<!-- 对t_insurancecompany自关联的查询映射 -->
	<resultMap type="com.zxcl.webapp.dto.rmi.intf.common.InsuranceDTO" id="insMapping">
		<id column="id" jdbcType="VARCHAR" property="insId" />
		<result column="name" jdbcType="VARCHAR" property="insName" />
	</resultMap>
	
	<resultMap type="com.zxcl.webapp.dto.rmi.intf.common.InsuranceDTO" id="insuranceMapping">
		<id column="id" jdbcType="VARCHAR" property="insId"/>
		<result column="name" jdbcType="VARCHAR" property="insName" />
		<result column="insType" jdbcType="VARCHAR" property="insType"/>
		<result column="insPetName" jdbcType="VARCHAR" property="insPetName"/>
		<result column="status" jdbcType="VARCHAR" property="status"/>
	</resultMap>

	<!-- 查询所有的总公司 -->
	<select id="getHeadOffice" resultMap="insMapping">
		SELECT INS_ID id,INS_NAME name,INS_TYPE insType,INS_PET_NAME insPetName FROM t_ins_info WHERE STATUS ='1'
	</select>

	<!-- 根据编码获取单个的保险公司 -->
	<select id="get" resultMap="insuranceMapping">
		SELECT INS_ID id,INS_NAME name,INS_TYPE insType ,INS_PET_NAME insPetName ,STATUS status
		 FROM t_ins_info WHERE INS_ID=#{code}
	</select>
	
	<select id="getInsByMicroId" resultMap="insuranceMapping">
		SELECT a.ins_id insId,a.INS_PET_NAME insPetName FROM t_ins_info a WHERE a.ins_id IN 
	(SELECT b.ins_id FROM t_agent_ins_base b WHERE b.agent_id=
	(SELECT c.agent_id FROM t_micro_info c WHERE c.MICRO_ID=#{microId}))
	</select>
</mapper>