<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxcl.webapp.integration.dao.LogLoginInfoDAO" >
  <resultMap id="BaseResultMap" type="com.zxcl.webapp.dto.LogLoginInfo" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="SID" property="sid" jdbcType="VARCHAR" />
    <result column="IS_MOBILE" property="isMobile" jdbcType="INTEGER" />
    <result column="USER_AGENT" property="userAgent" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CRT_BY" property="crtBy" jdbcType="VARCHAR" />
    <result column="CRT_TM" property="crtTm" jdbcType="TIMESTAMP" />
    <result column="UPD_BY" property="updBy" jdbcType="VARCHAR" />
    <result column="UPD_TM" property="updTm" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, SID, IS_MOBILE, USER_AGENT, REMARK, CRT_BY, CRT_TM, UPD_BY, UPD_TM
  </sql>
  
  <!-- selectNearRecordByUserId -->
  <select id="selectNearRecordByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select 
    <include refid="Base_Column_List" />
    from t_user_login_info
    where USER_ID = #{userId,jdbcType=VARCHAR}
    order by ID DESC
    limit 1
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user_login_info
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user_login_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.zxcl.webapp.dto.LogLoginInfo" >
    insert into t_user_login_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="sid != null" >
        SID,
      </if>
      <if test="isMobile != null" >
        IS_MOBILE,
      </if>
      <if test="userAgent != null" >
        USER_AGENT,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="crtBy != null" >
        CRT_BY,
      </if>
        CRT_TM,
      <if test="updBy != null" >
        UPD_BY,
      </if>
        UPD_TM,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="isMobile != null" >
        #{isMobile,jdbcType=INTEGER},
      </if>
      <if test="userAgent != null" >
        #{userAgent,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="crtBy != null" >
        #{crtBy,jdbcType=VARCHAR},
      </if>
        now(),
      <if test="updBy != null" >
        #{updBy,jdbcType=VARCHAR},
      </if>
        now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxcl.webapp.dto.LogLoginInfo" >
    update t_user_login_info
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="sid != null" >
        SID = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="isMobile != null" >
        IS_MOBILE = #{isMobile,jdbcType=INTEGER},
      </if>
      <if test="userAgent != null" >
        USER_AGENT = #{userAgent,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updBy != null" >
        UPD_BY = #{updBy,jdbcType=VARCHAR},
      </if>
        UPD_TM = now(),
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>