<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxcl.webapp.integration.dao.TeamAreaDAO">

	<resultMap autoMapping="true" type="com.zxcl.webapp.dto.TeamAreaDTO" id="result"> </resultMap>
	
	<select id="getAreaCodeByTeamId" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT AREA_CODE FROM t_team_area WHERE TEAM_ID = #{teamId} AND `STATUS` = 1
	</select>

	<select id="getAreaCodeByUserId" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT AREA_CODE FROM t_team_area WHERE TEAM_ID = (
			SELECT AGT_TEAM_ID FROM t_micro_info WHERE USER_ID = #{userId} AND `STATUS` = 1
		) AND `STATUS` = 1
	</select>
</mapper>