<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxcl.webapp.integration.dao.VoteInsuranceDAO">
	<!-- 对t_insurancecompany自关联的查询映射 -->
	<resultMap type="com.zxcl.webapp.dto.rmi.intf.vote.req.VoteInsuranceDTO" id="voteResultMapping">
		<id column="orderId" jdbcType="VARCHAR" property="order.orderId" />
		<result column="orderId" jdbcType="VARCHAR" property="order.orderId" />
		<result column="name" jdbcType="VARCHAR" property="voteName" />
		<result column="tel" jdbcType="VARCHAR" property="votePhone" />
		<result column="certType" jdbcType="VARCHAR" property="voteCertType" />
		<result column="certNo" jdbcType="VARCHAR" property="voteCertNo" />
		<result column="voteAddress" jdbcType="VARCHAR" property="voteAddress" />
		<result column="voteProvince" jdbcType="VARCHAR" property="voteProvince" />
		<result column="voteCity" jdbcType="VARCHAR" property="voteCity" />
	</resultMap>
	
	<insert id="insert">
		INSERT INTO
		t_order_applicant(INQUIRY_ID,QUOTA_ID,INS_ID,ORDER_ID,CERT_TYPE,CERT_NO,PRO_CODE,CITY_CODE,LINK_ADDRESS,NAME,SEX,BIRTHDAY,TEL,CRT_TM,CRT_CDE,UPD_TM,UPD_CDE)
		VALUES(#{inquiry.inquiryId},#{quota.quotaId},#{insurance.insId},#{order.orderId},#{voteCertType},#{voteCertNo},#{voteProvince},#{voteCity},#{voteAddress},#{voteName},
		#{voteSex},#{voteBirthday},#{votePhone},now(),#{crtCode},now(),#{updCode})
	</insert>

	<!-- 根据订单信息查询投保人信息 -->
	<select id="getByOrderId" resultMap="voteResultMapping">
		select ORDER_ID orderId,NAME name,TEL tel,CERT_TYPE certType,CERT_NO certNo,CERT_TYPE certType, 
		LINK_ADDRESS voteAddress,PRO_CODE voteProvince,CITY_CODE voteCity from t_order_applicant
		where ORDER_ID=#{orderId} and QUOTA_ID=#{quota.quotaId} and INQUIRY_ID=#{inquiry.inquiryId} AND INS_ID=#{insurance.insId}
	</select>
			
	<select id="getVoteInsuranceByOrderId" resultMap="voteResultMapping">
		select a.ORDER_ID orderId,a.NAME name,a.TEL tel,a.CERT_TYPE certType,a.CERT_NO certNo,a.CERT_TYPE certType, 
		a.PRO_CODE voteProvince,a.CITY_CODE voteCity,a.LINK_ADDRESS voteAddress from t_order_applicant a
		LEFT JOIN t_order o on a.ORDER_ID=o.ORDER_ID where o.ORDER_ID=#{orderId} and o.`STATUS`='1'
	</select>
	
	<!-- 删除投保人信息 -->
	<delete id="deleteByQuotaId">
		delete from t_order_applicant 
		where order_id=(SELECT order_id from t_order where `QUOTA_ID`=#{quotaId} AND `MICRO_ID`=#{microId} AND `INS_ID`=#{insId})
	</delete>
	
	<!-- 删除投保人信息 -->
	<delete id="deleteByOrderId">
		delete from t_order_applicant where order_id=#{orderId}
	</delete>
	
	<update id="updateWithHHBX">
		update t_order_applicant
		<set>
			<if test="appPerson.name != null and appPerson.name != ''">
				NAME=#{appPerson.name},
			</if>
			<if test="appPerson.certNo != null and appPerson.certNo != ''">
				CERT_NO=#{appPerson.certNo},
			</if>
			<if test="appPerson.tel != null and appPerson.tel != ''">
				TEL=#{appPerson.tel},
			</if>
			<if test="appPerson.address != null and appPerson.address != ''">
				LINK_ADDRESS=#{appPerson.address},
			</if>
			UPD_TM=now(),
		</set>
		where QUOTA_ID=#{quotaId} and INS_ID='HHBX'
	</update>
</mapper>