<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxcl.webapp.integration.dao.wallet.WalletCheckDAO" >
  <resultMap id="BaseResultMap" type="com.zxcl.webapp.dto.wallet.WalletCheckDTO" >
    <id column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <id column="CHECK_ID" property="checkId" jdbcType="VARCHAR" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CRT_TM" property="crtTm" jdbcType="TIMESTAMP" />
    <result column="CRT_CDE" property="crtCde" jdbcType="VARCHAR" />
    <result column="UPD_TM" property="updTm" jdbcType="TIMESTAMP" />
    <result column="UPD_CDE" property="updCde" jdbcType="VARCHAR" />
    <result column="CHECK_STATUS" property="checkStatus" jdbcType="CHAR" />
    <result column="CHECK_RESULT" property="checkResult" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    USER_ID, CHECK_ID, AMOUNT, REMARK, CRT_TM, CRT_CDE, UPD_TM, UPD_CDE, CHECK_STATUS, 
    CHECK_RESULT, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.zxcl.webapp.dto.wallet.WalletCheckDTOKey" >
    select 
    <include refid="Base_Column_List" />
    from t_wallet_check
    where USER_ID = #{userId,jdbcType=VARCHAR}
      and CHECK_ID = #{checkId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zxcl.webapp.dto.wallet.WalletCheckDTOKey" >
    delete from t_wallet_check
    where USER_ID = #{userId,jdbcType=VARCHAR}
      and CHECK_ID = #{checkId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zxcl.webapp.dto.wallet.WalletCheckDTO" >
    insert into t_wallet_check (USER_ID, CHECK_ID, AMOUNT, 
      REMARK, CRT_TM, CRT_CDE, 
      UPD_TM, UPD_CDE, CHECK_STATUS, 
      CHECK_RESULT, STATUS)
    values (#{userId,jdbcType=VARCHAR}, #{checkId,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{crtTm,jdbcType=TIMESTAMP}, #{crtCde,jdbcType=VARCHAR}, 
      #{updTm,jdbcType=TIMESTAMP}, #{updCde,jdbcType=VARCHAR}, #{checkStatus,jdbcType=CHAR}, 
      #{checkResult,jdbcType=VARCHAR}, #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxcl.webapp.dto.wallet.WalletCheckDTO" >
    insert into t_wallet_check
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="checkId != null" >
        CHECK_ID,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="crtTm != null" >
        CRT_TM,
      </if>
      <if test="crtCde != null" >
        CRT_CDE,
      </if>
      <if test="updTm != null" >
        UPD_TM,
      </if>
      <if test="updCde != null" >
        UPD_CDE,
      </if>
      <if test="checkStatus != null" >
        CHECK_STATUS,
      </if>
      <if test="checkResult != null" >
        CHECK_RESULT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="checkId != null" >
        #{checkId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="crtTm != null" >
        #{crtTm,jdbcType=TIMESTAMP},
      </if>
      <if test="crtCde != null" >
        #{crtCde,jdbcType=VARCHAR},
      </if>
      <if test="updTm != null" >
        #{updTm,jdbcType=TIMESTAMP},
      </if>
      <if test="updCde != null" >
        #{updCde,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        #{checkStatus,jdbcType=CHAR},
      </if>
      <if test="checkResult != null" >
        #{checkResult,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxcl.webapp.dto.wallet.WalletCheckDTO" >
    update t_wallet_check
    <set >
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="crtTm != null" >
        CRT_TM = #{crtTm,jdbcType=TIMESTAMP},
      </if>
      <if test="crtCde != null" >
        CRT_CDE = #{crtCde,jdbcType=VARCHAR},
      </if>
      <if test="updTm != null" >
        UPD_TM = #{updTm,jdbcType=TIMESTAMP},
      </if>
      <if test="updCde != null" >
        UPD_CDE = #{updCde,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        CHECK_STATUS = #{checkStatus,jdbcType=CHAR},
      </if>
      <if test="checkResult != null" >
        CHECK_RESULT = #{checkResult,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=VARCHAR}
      and CHECK_ID = #{checkId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxcl.webapp.dto.wallet.WalletCheckDTO" >
    update t_wallet_check
    set AMOUNT = #{amount,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      CRT_TM = #{crtTm,jdbcType=TIMESTAMP},
      CRT_CDE = #{crtCde,jdbcType=VARCHAR},
      UPD_TM = #{updTm,jdbcType=TIMESTAMP},
      UPD_CDE = #{updCde,jdbcType=VARCHAR},
      CHECK_STATUS = #{checkStatus,jdbcType=CHAR},
      CHECK_RESULT = #{checkResult,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR}
    where USER_ID = #{userId,jdbcType=VARCHAR}
      and CHECK_ID = #{checkId,jdbcType=VARCHAR}
  </update>
</mapper>