@CHARSET "UTF-8";
body,h1,h2,h3,h4,h5,h6,div,p,ul,li,span,a,b,img,form,select,input,textarea{margin:0; padding:0; border:0; outline:0; -webkit-tap-highlight-color:rgba(0,0,0,0);}
html,body{min-width:324px;} body{background:#F5F5F5;}
body,select,input,textarea,a{font-family:"Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif; font-size:15px;}
a{text-decoration:none; cursor:pointer; color:#000;} span{cursor:pointer;} ul li{list-style:none;}
input{border:0; outline:0; -webkit-appearance:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); background:#fff;}
select{border:0; outline:0; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); background:#fff;}
.clear:after{content:"\0020"; display:block; height:0; clear:both; visibility:hidden;} .clear{zoom:1;}
.texts{overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-box-orient:vertical;} .text1{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;} .text2{-webkit-line-clamp:2;}
.boxSet{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.lt{float:left;} .rt{float:right;} .disb{display:block;} .disn{display:none;} .txc{text-align:center;} .txr{text-align:right;} .bgc{background-repeat:no-repeat; background-position:center; background-size:cover;}
.c1{color:#21DD92;} .c2{color:#D64141;} .c3{color:#2BA5E9;} .c4{color:#F8931F;} .c5{color:#6CBCAF;} .bc1{background-color:#21DD92;} .bc2{background-color:#D64141;} .bc3{background-color:#2BA5E9;} .bc4{background-color:#F8931F;} .bc5{background-color:#6CBCAF;}.bc6{background-color:#483d8b;}
.showMsg{position:fixed; z-index:1000; background:rgba(0,0,0,.6); line-height:40px; text-align:center; padding:0px 10px; bottom:40px; color:#fff; border-radius:5px; display:none;}
.fixedbg,.fixedbg2{position:fixed; z-index:1000; top:0; bottom:0; left:0; right:0; background:rgba(0,0,0,.6); display:none;}
.select{position:fixed; z-index:1010; background:#fff; left:15%; right:15%; top:15%; max-height:70%; overflow:auto; display:none;}
.select p{padding:10px 15px; border-bottom:1px solid #E5E5E5;}
.search{padding:10px;}
.search .rt{color:#fff; padding:7px 20px; border-radius:5px; font-size:16px;}
.search .div{padding-right:82px;}
.search .div .inp{width:100%; height:35px; padding:10px; border-radius:5px; border:1px solid #f0f0f0;}
.ck,.ck1{position:relative; display:inline-block; width:20px; height:20px; vertical-align:middle; border:1px solid #d9d9d9; border-radius:3px; margin-right:10px; bottom:1px; background:#fff; transition:background-color ease 0.2s;}
.ck:checked{border:1px solid #07d281; background:#21DD92;} .ck1:checked{border:1px solid #c50404; background:#D64141;}
.ck:checked:after,.ck1:checked:after{position:absolute; content:""; border-left:2px solid #fff; border-bottom:2px solid #fff; width:10px; height:5px; -webkit-transform:rotate(-45deg); transform:rotate(-45deg); left:3px; top:4px;}
.submit{line-height:45px; margin:10px auto; background:#CCCCCC; border-radius:5px; color:#fff; font-size:18px;}
#submit{background:#21DD92;} #submit1{background:#D64141;} input.submit{width:100%;}
.tipsel{position:fixed; z-index:1010; left:50%; top:50%; padding:25px; width:276px; max-height:70%; margin-left:-163px; background:#fff; border-radius:5px; font-size:16px; display:none;}
.tipsel .tip{padding-bottom:20px; margin-bottom:20px; line-height:24px; border-bottom:1px solid #f0f0f0;}
.tipsel .ictip{background:url(../images/tip02.png) no-repeat 25px 3px; background-size:26px; padding-left:70px;}
.tipsel .btns .lt{width:50%;}
.tipsel .btns .btn{border-right:1px solid #f0f0f0;}
.loadding{position:fixed; z-index:1010; left:0; right:0; top:35%; color:#fff; background:url(../images/loading.gif) no-repeat center top; background-size:90px; opacity:.6; padding-top:80px; line-height:25px; display:none;}
.arr_r{padding:10px 10% 10px 10px; background:url(../images/arr_r.png) no-repeat 95% center #fff; background-size:9px; border-bottom:1px solid #f0f0f0;}
.new{position:relative; display:inline-block; padding:3px; border-radius:100px; background:red;}
.iconimg{vertical-align:middle; margin:0 10px 2px 0;}
.radd{border:1px solid #fff; border-radius:100px; padding:1px 6px; margin-right:10px;}
.sharehd{font-size:12px;}
.sharehd img{width:12px; margin:0 4px 3px 0;}
.comf{font-size:12px; color:#B3B3B3;}
.more{background:#DADADA; line-height:30px; margin-top:10px; font-size:14px;}
/*main navs*/
.head{position:fixed; z-index:900; top:0; left:0; right:0; background:#fff; padding:0 20px; line-height:44px; border-bottom:1px solid #F0F0F0; text-align:center; font-size:18px;}
.head .lt,.head .rt{width:40px; height:44px;}
.head .back{background:url(../images/back.png) no-repeat left center; background-size:10px;}
.head .title{padding-right:40px;} .lrhd .title{padding:0;}
.content{padding-top:45px;}
.bomnav{position:fixed; z-index:900; bottom:0; left:0; right:0; background:#FAFAFA; border-top:1px solid #f0f0f0; height:52px; text-align:center;}
.bomnav .lt{width:33.3%; padding-top:33px; color:#666; font-size:12px; background-repeat:no-repeat; background-position:center 3px; background-size:28px;}
.bomnav .nav1{background-image:url(../images/bomnav01.png);}
.bomnav .nav2{background-image:url(../images/bomnav02.png);}
.bomnav .nav3{background-image:url(../images/bomnav03.png);}
.bomnav #nav1{background-image:url(../images/bomnav01d.png);}
.bomnav #nav2{background-image:url(../images/bomnav02d.png);}
.bomnav #nav3{background-image:url(../images/bomnav03d.png);}
/*slider*/
.focus{margin:0 auto; position:relative; overflow:hidden;}
.focus .hd{width:100%; position:absolute; z-index:1; bottom:0; text-align:center; background:rgba(0,0,0,.5);}
.focus .hd ul{padding:12px 0; font-size:0; vertical-align:top;}
.focus .hd ul li{display:inline-block; width:7px; height:7px; border-radius:100px; background:#fff; margin:0 5px; vertical-align:top; overflow:hidden;}
.focus .hd ul .on{background:#00B19A;}
.focus .bd{position:relative; z-index:0;}
.focus .bd li a{position:relative; display:block; height:200px; -webkit-tap-highlight-color:rgba(0,0,0,0); overflow:hidden; background-repeat:no-repeat; background-position:center; background-size:cover;}
/*login*/
.login{padding:0 30px;}
.login .img{display:block; width:215px; margin:20px auto;}
.login form .inp{width:100%; line-height:20px; padding:8px 10px 8px 40px; border:1px solid #DCDDDD; background-repeat:no-repeat;}
.login form .uname{background-image:url(../images/user.png); background-position:6px center; background-size:29px; border-bottom:0; border-radius:5px 5px 0 0;}
.login form .upwd{background-image:url(../images/pass.png); background-position:5px center; background-size:32px; border-radius:0 0 5px 5px;}
.login form .p{padding:15px 0;}
.login form .p,.login form .p p,.login .abtn .lt{color:#9A9A9A;}
.login .disf{color:#B5B5B5; border-bottom:1px solid #DCDCDC; margin-top:20px;}
.login .disf p{display:inline; position:relative; bottom:-9px; padding:0 10px; background:#F5F5F5;}
.login .dsfbtn .lt{width:33.3%; color:#6D6D6D; background-repeat:no-repeat; background-position:center top; background-size:40px; margin:30px 0 40px 0; padding-top:45px;}
.login .dsfbtn .wx{background-image:url(../images/wx.png);}
.login .dsfbtn .qq{background-image:url(../images/qq.png);}
.login .dsfbtn .wb{background-image:url(../images/wb.png);}
.login .abtn{padding-bottom:40px;}
/*user_inp*/
.user_inp .part1{background:#fff; margin:10px 0; padding:0 10px;}
.user_inp .part1 .clear{padding:10px 0; border-bottom:1px solid #f0f0f0;}
.user_inp .part1 .span{padding-right:33px; border-right:1px solid #f0f0f0;}
.user_inp .part1 .div{position:relative; padding-left:70px;}
.user_inp .part1 .div input{width:100%;}
.user_inp .part1 .div .imgyzm{position:absolute; width:80px; top:0; right:-10px;}
.user_inp .part1 .div .getyzm{position:absolute; width:90px; top:-3px; right:0; color:#595959; border:1px solid #DCDDDD; border-radius:3px; text-align:center; font-size:13px; padding:4px 0;}
.user_inp .part1 .div #getyzm{background:#ccc;}
.user_inp .xy{padding:10px 10px 40px 0; color:#C7C7C7;}
.user_inp .btndiv{padding:0 10px;}
/*index*/
.indexhd .lt{position:relative; background:url(../images/qb.png) no-repeat left 7px; background-size:30px;}
.indexhd .lt .new{left:15px; bottom:10px;}
.indexhd .rt,.kfbtn{background:url(../images/telh.png) no-repeat right center; background-size:29px;}
.indpag .box{padding:0 30px 30px 30px;}
.indpag .box .imgnav .lt{width:33.3%; margin-top:20px; text-align:center;}
.indpag .box .imgnav .lt img{display:block; margin:0 auto 5px auto; width:45px;}
.indpag .box .info{font-weight:800; padding:10px 0; text-align:center;}
.indpag .box .car{border:1px solid #ccc; border-radius:10px; height:35px;}
.indpag .box .car .img{width:50px; height:35px; background:url(../images/index04.png) no-repeat center #FAFAFA; background-size:30px; border-radius:10px 0 0 10px;}
.indpag .box .car .img2{width:50px; height:35px; background:url(../images/owner.png) no-repeat center #FAFAFA; background-size:30px; border-radius:10px 0 0 10px;}
.indpag .box .car .boxSet{width:90px; height:35px; padding:10px; text-transform:uppercase;}
.indpag .box .car .rt{margin:7px 12px 0 0; color:#999;}
.indpag .box .xy{padding:13px 0 10px 0;}
.indpag .box .xy a{padding-left:10px;}
.jinqilr{padding:25px 10px; font-size:14px; margin-left:-148px;}
.jinqilr .tit{font-size:18px; border-bottom:1px solid #ddd; padding-bottom:10px;}
.jinqilr .tit img{margin-top:-10px;}
.jinqilr .lrinfo{padding:10px 5px 0 5px;}
.jinqilr .lrinfo .lt{width:25%; line-height:25px;}
.jinqilr .lrinfo .btn{color:#fff; padding:0 10px; border-radius:3px;}
.jinqilr .qxbj{width:140px; line-height:35px; border-radius:100px; margin:15px auto 0 auto; color:#fff;}
/*bao xian bao jia*/
.bxbj .div{position:relative; padding:13px 0; border-bottom:1px solid #f0f0f0;}
.bxbj .line1{padding:13px 10px; border-bottom:10px solid #F5F5F5;}
.bxbj .part{padding:0 10px;}
.bxbj .clhcz{padding:15px 10px; line-height:15px; border-bottom:10px solid #F5F5F5;}
.bxbj .clhcz .lt{border-left:5px solid #F8931F; padding-left:8px;}
.bxbj .clhcz .rt .wh{border:1px solid #2BA5E9; padding:0 3px; border-radius:3px; margin-right:7px;}
.bxbj .clhcz .rt{font-size:12px;}
.bxbjdemo{position:fixed; z-index:1010; width:100%; top:30%; display:none;}
/** .bxbj .part select.rt{direction:rtl;} */
.bxbj .part .clxx .inpdiv{padding-left:75px;}
.bxbj .part .clxx .inpdiv .inp{width:100%; padding-right:10px;}
.bxbj .part .clxx .search{position:absolute; color:#fff; padding:8px 20px; right:0; bottom:5px;}
.bxbj .part .clxx .pzs p{padding:10px 15px 0 15px;}
.bxbj .part .xzxz .ck1{border-radius:100px;}
.bxbj .xzsel{background:#FAE6E7; line-height:40px; padding:0 10px; font-size:16px;}
.bxbj .xzsel .rt{width:40px; height:40px; background-image:url(../images/arr_r.png); background-repeat:no-repeat; background-size:11px; transition:all ease .6s;}
.bxbj .xzsel #up{background-position:center bottom; -webkit-transform:rotate(-90deg); transform:rotate(-90deg);}
.bxbj .xzsel #down{background-position:center top; -webkit-transform:rotate(90deg); transform:rotate(90deg);}
.bxbj .bombtn{position:fixed; width:100%; z-index:900; bottom:0; text-align:center; font-weight:800; font-size:16px; color:#fff;}
.bxbj .bombtn div{width:50%; line-height:45px;}
.bxbj .bombtn .lt{background:#3E3A39;}
.bxbj .part2{border-bottom:5px solid #F5F5F5;}
/*cha xun*/
.chaxun .search{position:fixed; z-index:900; left:0; right:0; top:45px; background:#F5F5F5;}
.chaxun .tab{margin-top:102px; font-size:14px; width:100%;}
.chaxun .tab td{padding:13px 5px;}
.chaxun .tab td:first-child{padding-left:4%;}
.chaxun .tab td:last-child{text-align:right; padding-right:10px;}
.chaxun .tab .bg{background:#fff;}
.chaxun .tab .ck1{border-radius:100px;}
.chaxun .bombtn{position:fixed; left:0; right:0; bottom:0; color:#fff;}
.chaxun .bombtn .lt{width:20%; padding:15px 0; border-right:1px solid #DE6263;}
.chaxun .btn{display:inline; color:#fff; border-radius:3px; padding:5px 8px;}
.chaxun .btn1{background:#6CBCAF;}
.chaxun .zbnav{position:fixed; z-index:900; top:45px; left:0; right:0;}
.chaxun .zbnav .lt{width:50%; background:#fff; padding:15px 0;}
.chaxun .zbnav .line{position:absolute; bottom:0; border-bottom:2px solid #D64141; width:66px; left:25%; margin-left:-35px;}
.zfcx .search,.bdcx .search{top:95px;}
.zfcx .tab,.bdcx .tab{margin:150px 0 0 0;}
.zhcx .tab td{border-bottom:1px solid #e4e4e4;}
.zhcx .tab .td1{padding-left:15px;}
.zhcx .tab .td1 img{margin:5px 0 0 -8%;}
.zhcx .tab .btn{display:inline-block; width:56px; text-align:center;}
.zhcx .tab .bg{display:none;}
/*regist*/
.regnxt .part{padding:0 10px; background:#fff;}
.regnxt .part1{margin:10px 0; padding:5px 10px;}
.regnxt .part1 .img{width:50px; height:50px; border-radius:100px; margin-right:10px; background-image:url(../images/mrhead.png);}
.regnxt .part1 .tip{color:#AFAFAF; line-height:50px;}
.regnxt .part1 .rt div{padding:6px 7px 6px 26px; margin-top:9px; border:1px solid #f0f0f0; color:#969696; background-repeat:no-repeat; background-position:3px center;}
.regnxt .part1 .rt .nan{background-image:url(../images/sex02d.png); background-size:23px; border-right:0;}
.regnxt .part1 .rt .nv{background-image:url(../images/sex01d.png); background-size:24px;}
.regnxt .part1 .rt #sex.nan{background-image:url(../images/sex02.png); background-color:#9FCFF7; color:#fff;}
.regnxt .part1 .rt #sex.nv{background-image:url(../images/sex01.png); background-color:#FBBBD6; color:#fff;}
.regnxt .part2 .line,.regnxt .part3 .line{padding:10px 0; border-bottom:1px solid #f0f0f0;}
.regnxt .part2 .line .div{padding-left:75px;}
.regnxt .part2 .line .div input{width:100%;}
.regnxt .ssgs{padding:5px 10px;}
.regnxt .part3 .line{color:#AFAFAF;}
.regnxt .part4{padding:0 10px 30px 10px;}
.regnxt .part4 .hedui{color:#AFAFAF; font-size:12px; padding:10px 0 20px 0;}
.regnxt select{direction:rtl;}
.regok{color:#A2A2A2; line-height:24px;}
.regok .img{width:85px; height:85px; margin:10px auto 0 auto; border-radius:100px;}
.regok .name{padding:5px 0 10px 0;}
.regok .kszq{display:inline-block; color:#fff; background:#19AE46; border-radius:5px; margin:20px 0; padding:3px 20px;}
/*tou bao gong si*/
.tbgs .cltbxx{background:#fff; margin:10px 0;}
.tbgs .cltbxx .nav{padding:10px; border-bottom:1px solid #f0f0f0;}
.tbgs .cltbxx .nav .arr{position:relative; width:10px; height:10px; left:8px; border:1px solid #2BA5E9; border-top:0; border-right:0; -webkit-transform:rotate(-45deg); transform:rotate(-45deg);}
.tbgs .cltbxx .nav #arr{-webkit-transform:rotate(135deg); transform:rotate(135deg); top:6px;}
.tbgs .cltbxx .nav .rt{font-size:14px;}
.tbgs .cltbxx .nav .lt{line-height:30px;}
.tbgs .cltbxx .con{padding:10px; line-height:30px;}
.tbgs .cltbxx .con .div{padding-left:70px;}
.tbgs .cltbxx .edit{margin-top:10px; padding-top:5px; border:1px solid #f0f0f0; border-left:0; border-right:0;}
.tbgs .tip{background:url(../images/tip01.png) no-repeat 10px center #fff; background-size:20px; padding:10px 10px 10px 45px; color:#B6B6B6; font-size:13px; line-height:22px;}
.tbgs .company .img{width:105px; height:114px; margin-right:10px; background-color:#F8F8F8; background-size:73%;}
.tbgs .company .btn{color:#fff; padding:10px 15px; border-radius:5px; font-size:16px; margin:35px 10px 0 0;}
.tbgs .company #btn{background:url(../images/loading.gif) no-repeat center; background-size:55px; color:rgba(0,0,0,0);}
.tbgs .company .box{background:#fff; border-bottom:1px solid #f0f0f0; color:#B6B6B6;}
.tbgs .company .box .line1{font-size:19px; padding:35px 0 5px 0;}
.tbgs .company .box .no{font-size:18px; line-height:114px;}
/*tou bao xiang qing*/
.tbimgtxt{background:#fff; line-height:60px; font-size:16px; margin:5px 0;}
.tbimgtxt .img{width:75px; height:60px; margin-right:10px; background-size:80%;}
.tbxq .part2{color:#797979; background:#fff;}
.tbxq .tit{padding:10px; font-size:16px; border-bottom:1px solid #f0f0f0;}
.tbxq .part2 .xian{padding:10px; line-height:30px;}
.tbxq .submit{margin:20px 10px;}
/*che zhu xin xi*/
.czxx .box{background:#fff; padding:0 10px; margin:10px 0;}
.czxx .box .line{border-bottom:1px solid #f0f0f0; padding:10px 0;}
.czxx .box .div{padding-left:80px;}
.czxx .box .div .inp{width:100%;}
.czxx .subbtn{padding:50px 10px 10px 10px;}
.czxx .box .ways{padding:0 15px;}
/*tou bao ding dan*/
.tbdd{margin:10px; color:#797979}
.tbdd .part1{padding:7px 10px; line-height:30px; background:#fff;}
.tbdd .part2{padding:12px 0;}
.tbdd .part2 .lt{color:#D5D5D5; background:#808080; border-radius:3px; font-size:13px; padding:7px 15px;}
.tbdd .part3{background:#fff;}
.tbdd .part3 .line{padding:10px; border-bottom:1px solid #f0f0f0;}
.tbdd .part3 .line img{vertical-align:middle; margin:0 10px 2px 0; width:25px;}
.tbdd .part4{font-size:13px; padding:10px 0;}
.tbdd .part4 img{vertical-align:middle; margin:0 7px 3px 0; width:20px;}
.tbdd .submit{margin:30px 0;}
/*tou bao ming xi*/
.tbmx{color:#625957;}
.tbmx .tit{padding:10px; font-size:16px;}
.tbmx .box{background:#fff; padding:10px; line-height:25px;}
.tbmx .box label{color:#8C8C8C;}
.tbmx .line{background:#fff; padding:10px; border-bottom:1px solid #f0f0f0;}
/*user*/
.userhd .rt{font-size:12px; line-height:14px; color:#666;}
.userhd .rt img{display:block; width:20px; margin:3px 0 2px 19px;}
.user{color:#666;}
.user .part1{background:#fff; margin-bottom:9px; padding:0 10px 10px 10px;}
.user .part1 .line1{padding:10px 0; margin-bottom:10px;}
.user .part1 .line1 .lt{width:65px; height:65px; border-radius:100px; margin-right:10px; background-image:url(../images/mrhead.png);}
.user .part1 .line1 .tx1{padding:10px 20px 5px 0;}
.user .part1 .line1 .tx2{color:#000; padding-right:20px;}
.user .part1 .line2 .lt{width:33.3%; border-right:1px solid #f0f0f0;}
.user .part1 .line2 .end{border:0;}
.user .part1 .line2 .lt img{vertical-align:middle; margin:0 7px 3px 0;}
.user .part1 .line2 .lt .row1{font-size:16px; padding-bottom:5px;}
.user .part1 .line2 .lt .row1 .new{left:5px; bottom:7px;}
.user .part1 .line2 .lt .row2{font-size:12px;}
.user .part2 img{vertical-align:middle; margin:0 10px 3px 0; width:25px;}
.user .mb{margin-bottom:9px;}
/*wo de ding dan*/
.wddd .search .inp{background:url(../images/search.png) no-repeat 7px center #fff; background-size:21px; padding-left:38px;}
.wddd .zbnav{top:100px;}
.wddd .zbnav .lt{width:20%;}
.wddd .zbnav .line{width:56px; left:10%; margin-left:-28px;}
.wddd .tab{margin:154px 0 0 0;}
.wddd .tab .bg{background:#F5F5F5;}
.wddd .no_dd{color:#8E8E8E; line-height:25px; padding-top:270px;}
.wddd .no_dd img{width:100px; margin-bottom:5px;}
/*set*/
.set .yij{margin-top:10px;}
.set .submit{margin:50px 10px;}
/*wo de xin xi*/
.wdxx .part1{padding:10px; line-height:80px; background:#fff; margin-top:10px;}
.wdxx .part1 .rt{width:80px; height:80px; border-radius:80px; background-image:url(../images/mrhead.png);}
.wdxx .lt,.wdxx .tit{color:#848484;}
.wdxx .tit{padding:10px;}
.wdxx .line{background:#fff; border-bottom:1px solid #f0f0f0; padding:10px 10% 10px 10px;}
/*pei song di zhi*/
.psdz,.tx{padding-bottom:85px;}
.psdz .box{background:#fff; margin-top:10px; color:#989898;}
.psdz .box .color{color:#646464;}
.psdz .box .line{padding:15px 10px; border-bottom:1px solid #f0f0f0; line-height:30px;}
.psdz .box .line img{width:23px; vertical-align:middle; margin:0 10px 5px 0;}
.psdz .box .line .edit{padding-right:30px;}
.psdz .box .line .edit img{width:26px; margin-bottom:2px;}
.psdz .box .line .ck1{border-radius:100px;}
.psdz .box .line .name{display:inline-block; width:80px;}
.psdz .submit,.tx .submit{position:fixed; left:20px; right:20px; bottom:10px;}
/*tian jia di zhi*/
.inpbox .box{padding:0 10px; margin:10px 0; background:#fff;}
.inpbox .box .line{padding:10px 0; border-bottom:1px solid #f0f0f0;}
.inpbox .box .line .div{padding-left:70px;}
.inpbox .box .line .div .inp{width:100%;}
.inpbox .subbtn{padding:30px 10px;}
/*wo de wen da*/
.wdwd .zbnav .line{width:74px; margin-left:-40px;}
.wdwd .content{padding-top:95px;}
.wdwd .box{margin-top:10px; padding:10px; background:#fff;}
.wdwd .box .line1 .lt{width:50px; height:50px; border-radius:100px; margin-right:10px;}
.wdwd .box .line1 .row1{font-size:16px; padding:5px 0;}
.wdwd .box .line1 .row1 .new{left:6px; top:-10px;}
.wdwd .box .line2{padding:7px 0 10px 0; line-height:24px;}
.wdwd .box .line3 img{vertical-align:middle; width:15px; margin:0 10px 2px 0;}
.wdwd .box .line3 .map{width:13px; margin-right:8px;}
.wdwd .box .line3 .msg{margin-left:25px;}
/*wo de qian bao*/
.wdqb .part1{padding:15px 15px 15px 100px; margin-top:10px; line-height:24px; border-bottom:1px solid #f0f0f0; background:url(../images/money.png) no-repeat 10px center #fff; background-size:80px;}
.wdqb .part1 .line2{font-size:16px;}
.wdqb .part1 .rt{padding:5px 20px; margin-top:8px; border-radius:5px; color:#fff;}
.wdqb .arr_r{padding-right:10%;}
.wdqb .arr_r img{width:25px;}
/*ti xian*/
.tx .box{background:#fff; margin-top:10px;}
.tx .box .line1{padding:10px; border-bottom:1px solid #f0f0f0; line-height:25px;}
.tx .box .line1 .rt{padding:5px 20px; margin-top:17px; border-radius:5px; color:#fff;}
.tx .box .line1 .div{padding-right:85px;}
.tx .box .line2{padding:10px;}
.tx .box .line2 .edit{width:25px;}
.tx .box .line2 .del{width:24px; margin-left:40px;}
.txje .con .line1{padding:30px 0 20px 0; font-size:18px;}
.txje .con .inp{padding:15px 20px; border-radius:5px;}
.txje .con .line2,.txje .txok .line3{color:#9E9E9E; padding:15px 0;}
.txje .con .btndiv{padding:20px;}
.txje .txok .line1{padding:40px 0 20px 0; font-size:20px;}
.txje .txok .line2{font-size:17px; color:#9E9E9E; padding:10px 0;}
/*yao qing hao you*/
.yqhy{line-height:30px; font-size:16px; color:#989898;}
.yqhy .img{width:200px; margin:40px 0 10px 0;}
.yqhy .line1{color:#000;}
.yqhy .btns{position:fixed; left:40px; right:40px; bottom:40px;}
.yqhy .btns div{width:47%; line-height:38px; border:1px solid #EC8F27; border-radius:100px; background:#fff;}
/*wo de xiao xi*/
.wdmsg #hassee{color:#9C9C9C;}
.wdmsg .arr_r{background:#fff; padding:10px;}
.wdmsg .con{background:#fff; padding:10px; line-height:25px; border-bottom:1px solid #f0f0f0; display:none;}
.wdmsg .img{margin:6px 8px 0 0;}
/*square*/
.square .zbnav .lt{width:33.3%;}
.square .zbnav .line{left:16.6%;}
.square .head .rt{width:60px; text-indent:-9999px;}
.square #wenda{font-size:15px; background:none; text-indent:0;}
.square .head .title{padding:0 0 0 20px;}
.square .content{padding-top:95px;}
.square .box{background:#fff; margin-top:10px; padding:10px; border-bottom:1px solid #f0f0f0; overflow:hidden;}
.square .case1 .img{position:relative; padding:28%; color:#fff; font-size:13px;}
.square .case1 .tit{position:absolute; background:rgba(0,0,0,.5); left:0; right:0; bottom:0; padding:5.5% 10px;}
.square .case1 .stus{position:absolute; top:-1px; right:15px; padding:3px 15px 5px 15px; border-radius:5px;}
.square .case1 .js{background:#716542;}
.square .case2{margin-top:10px;}
.square .case2 .box{margin:0;}
.square .case2 .box .lt{width:105px; height:74px; margin-right:10px;}
.square .case2 .box .line1{height:43px; margin-bottom:11px;}
.square .case2 .box .line2 img{width:17px; margin-right:7px;}
.square .case3 .box .line1 .lt{width:40px; height:40px; border-radius:100px; margin-right:10px; background-image:url(../images/mrhead.png);}
.square .case3 .box .line1 .row1{padding:2px 0;}
.square .case3 .box .line2{padding:7px 0 10px 0;}
.square .case3 .box .line3 img{margin-right:4px;}
.square .case3 .box .line3 .img1{width:11px;}
.square .case3 .box .line3 .img2{width:12px; margin-left:20px;}
.square .case3 .box .line3 .img3{width:15px;}
.square .case3 .box .imgbox{width:103%;}
.square .case3 .box .imgbox .lt{padding:15%; margin:0 3.3% 4% 0;}
.square .tiwen{position:fixed; z-index:1000; color:#fff; border-radius:100px; font-size:12px; right:25px; bottom:70px; box-shadow:0 0 10px #000; padding:5px 16px 8px 16px;}
.square .tiwen img{width:27px;}
/*ti wen*/
.tiwen .rt{font-size:14px;}
.tiwen .box{margin:10px 0; padding:10px; background:#fff; overflow:hidden;}
.tiwen .box .area{width:100%; height:100px; resize:none;}
.tiwen .box .imgs{width:103%; border-bottom:1px solid #f0f0f0; margin-bottom:10px;}
.tiwen .box .imgs .lt{padding:11%; margin:0 3% 3% 0;}
.tiwen .box .imgs .upbtn{background-image:url(../images/upbtn.png);}
.tiwen .from img{width:11px; margin-right:5px;}
.tiwen .btndiv{padding:15px;}
/*wen ti xinag qing*/
.answer .huifu{margin:0;} .answer .content{padding-bottom:60px;}
.answer .case3 .huifu .line1 .lt{width:30px; height:30px; margin-left:10px;}
.answer .case3 .huifu .line2{padding-left:50px;}
.answer .case3 .huifu .line3 .img3{width:13px; margin-bottom:5px;}
.answer .inpbox{position:fixed; left:0; right:0; bottom:0; padding:10px; background:#E6E6E6;}
.answer .inpbox .rt{color:#fff; background:#B3B3B3; padding:5px 10px; border-radius:5px;}
.answer .inpbox .div{padding-right:60px;}
.answer .inpbox .div input{width:100%; height:30px; padding:10px; border-radius:5px;}
/*article*/
.article .tit{border-top:10px solid #F5F5F5; padding:10px; font-size:18px; font-weight:600; line-height:26px;}
.article .time{padding:10px; border:1px solid #f0f0f0; border-left:0; border-right:0;}
.article .time img{width:18px; margin-right:5px;}
.article .cont{padding:10px;}
.article .cont img{width:100%; margin-bottom:5px;}
.sharefix{position:fixed; z-index:1010; left:0; right:0; bottom:0; display:none;}
.sharefix .div{background:#fff; font-size:14px; padding-bottom:10px;}
.sharefix .div .lt{width:25%; background-repeat:no-repeat; background-position:center 20px; background-size:40px; padding-top:70px;}
.sharefix .cancel{background:#F2F2F2; padding:10px; font-size:16px; color:#989898; font-weight:600;}
.sharefix .div .s1{background-image:url(../images/fxqq.png);}
.sharefix .div .s2{background-image:url(../images/fxkj.png);}
.sharefix .div .s3{background-image:url(../images/zfwx.png);}
.sharefix .div .s4{background-image:url(../images/fxpyq.png);}
.sharefix .div .s5{background-image:url(../images/fxwb.png);}
.sharefix .div .s6{background-image:url(../images/fxdx.png);}
/*zhang dan ming xi*/
.zdmx .tab{width:100%;}
.zdmx tr td{padding:15px 0 15px 10px; border-bottom:1px solid #f0f0f0; font-size:14px;}
.zdmx tr td:nth-child(3){text-align:center;}
.zdmx tr td:nth-child(3){text-align:right; padding-right:10px;}
.zdmx .money{font-weight:bold; font-size:16px;}
/*suggest*/
.suggest{padding:10px;}
.suggest .area{width:100%; height:160px; line-height:22px; resize:none; padding:10px; border:1px solid #f0f0f0; border-radius:5px;}
.suggest .tit{padding:10px 0;}
.suggest .inp{width:100%; padding:12px 10px; border:1px solid #f0f0f0; border-radius:5px; margin-bottom:10px;}
.suggest .div{padding:0 !important;}
.suggest .div .getyzm{top:10px !important; right:10px !important;}
iframe{border:0px}